In [189]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [190]:
df_wine = pd.read_csv('../data/wine.csv')
df_wine.head()
df_wine.tail()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

Features:

1. Wine Class labels
2. Malic acid
3. Ash
4. Alcalinity of ash
5. Magnesium
6. Total phenols
7. Flavanoids
8. Nonflavanoid phenols
9. Proanthocyanins
10. Color intensity
11. Hue
12. OD280/OD315 of diluted wines
13. Proline

3 classes of wine (1, 2, 3)

In [191]:
print(df_wine.groupby('1').size())
#should be good for classification

1
1    58
2    71
3    48
dtype: int64

In [192]:
df_wine.columns = ['name'
                 ,'alcohol'
             	,'malicAcid'
             	,'ash'
            	,'ashalcalinity'
             	,'magnesium'
            	,'totalPhenols'
             	,'flavanoids'
             	,'nonFlavanoidPhenols'
             	,'proanthocyanins'
            	,'colorIntensity'
             	,'hue'
             	,'od280_od315'
             	,'proline'
                ]

df_wine.head(10)

,name,alcohol,malicAcid,ash,ashalcalinity,magnesium,totalPhenols,flavanoids,nonFlavanoidPhenols,proanthocyanins,colorIntensity,hue,od280_od315,proline
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
5,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.25,1.02,3.58,1290
6,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.05,1.06,3.58,1295
7,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.20,1.08,2.85,1045
8,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.22,1.01,3.55,1045
9,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.75,1.25,3.17,1510

In [193]:
df_wine.drop(['ash'], axis=1)
df_wine.tail(5)

,name,alcohol,malicAcid,ash,ashalcalinity,magnesium,totalPhenols,flavanoids,nonFlavanoidPhenols,proanthocyanins,colorIntensity,hue,od280_od315,proline
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.7,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.3,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.2,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.3,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.2,0.61,1.60,560

In [195]:
#use label encoder to enumerate the type of species
from sklearn.preprocessing import LabelEncoder
#encoding all other features for classification purposes
le = LabelEncoder()
le.fit(df_wine['name'])
df_wine['name'] = le.transform(df_wine['name'])
df_wine.head()

,name,alcohol,malicAcid,ash,ashalcalinity,magnesium,totalPhenols,flavanoids,nonFlavanoidPhenols,proanthocyanins,colorIntensity,hue,od280_od315,proline
0,0,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,0,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,0,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,0,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,0,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [197]:
df_wine.head()
list(le.inverse_transform([2, 1, 0]))
#df_iris.drop('Specices',axis=1,inplace=True)
# df_iris.sample(10)
# df_iris.tail(5)

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

[2, 1, 0]

In [198]:
#normalize data, values between 0 and 1
df_wine_normalized = df_wine[['colorIntensity', 'totalPhenols', 'alcohol']].apply(lambda z: (z - z.min()) / (z.max() - z.min()))
df_wine_normalized['name'] = df_wine['name']
df_wine_normalized.tail(5)

     colorIntensity  totalPhenols   alcohol  name
172        0.547782      0.241379  0.705263     2
173        0.513652      0.282759  0.623684     2
174        0.761092      0.210345  0.589474     2
175        0.684300      0.231034  0.563158     2
176        0.675768      0.368966  0.815789     2

In [199]:
#splitting into train and test datasets using numpy's randn
msk = np.random.rand(len(df_wine_normalized)) < 0.8
train = df_wine_normalized[msk]
test = df_wine_normalized[~msk]
#trainVals = len(train)
#testVals = len(test)
#print(trainVals)
#print(testVals)

In [200]:
X = train.values[:,:3]
X[:4]
targets = [[1,0,0],[0,1,0],[0,0,1]]
y = np.array([targets[int(x)] for x in train.values[:,3:4]])
y[:4]

array([[1, 0, 0],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0]])

In [201]:
#the neural network inputs and the length and width of the species
nninputs = len(X[0])
hidden_neurons = 4
np.random.seed(4)
weight_matrix = 2*np.random.random((nninputs, hidden_neurons)) - 1
weight_matrix

array([[ 0.93405968,  0.0944645 ,  0.94536872,  0.42963199],
       [ 0.39545765, -0.56782101,  0.95254891, -0.98753949],
       [-0.49403528, -0.13041694,  0.55876584, -0.60462985]])

In [202]:
#three output values, one for each species type
num_outputs = len(y[0])
weight_matrix2 = 2*np.random.random((hidden_neurons, num_outputs)) - 1
weight_matrix2

array([[ 0.72598647,  0.96680135, -0.67231552],
       [ 0.19466789, -0.9820278 , -0.22685743],
       [-0.91167988,  0.91330594, -0.12770671],
       [ 0.89795461,  0.57261197,  0.7325786 ]])

In [203]:
# sigmoid function
_x = np.linspace( -5, 5, 50 )
_y = 1 / ( 1 + np.exp( -_x ) )

In [207]:
nn_p_rate = 0.2
for epoch in range(1000):
    #non-linear activation function, sigmoid
    sigmoid1 = 1/(1 + np.exp(-(np.dot(X, weight_matrix)))) 
    sigmoid2 = 1/(1 + np.exp(-(np.dot(sigmoid1, weight_matrix2))))
    error_rate = (abs(y - sigmoid2)).mean()
    sigmoid2_delta = (y - sigmoid2)*(sigmoid2 * (1-sigmoid2))
    sigmoid1_delta = sigmoid2_delta.dot(weight_matrix2.T) * (sigmoid1 * (1-sigmoid1))
    weight_matrix2 += sigmoid1.T.dot(sigmoid2_delta) * nn_p_rate
    weight_matrix += X.T.dot(sigmoid1_delta) * nn_p_rate
print('Neural net error rate:', error_rate)

Neural net error rate: 0.056150403707436916

In [209]:
X = test.values[:,:3]
y = np.array([targets[int(x)] for x in test.values[:,3:4]])

l1 = 1/(1 + np.exp(-(np.dot(X, weight_matrix))))
l2 = 1/(1 + np.exp(-(np.dot(l1, weight_matrix2))))

np.round(l2,3)

array([[0.993, 0.01 , 0.017],
       [0.994, 0.004, 0.016],
       [0.099, 0.014, 0.532],
       [0.995, 0.003, 0.019],
       [0.931, 0.013, 0.053],
       [0.994, 0.005, 0.013],
       [0.895, 0.077, 0.005],
       [0.955, 0.016, 0.032],
       [0.568, 0.38 , 0.001],
       [0.955, 0.041, 0.009],
       [0.993, 0.004, 0.015],
       [0.432, 0.007, 0.493],
       [0.001, 1.   , 0.006],
       [0.064, 0.973, 0.007],
       [0.004, 0.999, 0.   ],
       [0.559, 0.29 , 0.009],
       [0.   , 1.   , 0.   ],
       [0.004, 0.999, 0.   ],
       [0.005, 0.733, 0.058],
       [0.005, 0.998, 0.001],
       [0.   , 1.   , 0.   ],
       [0.024, 0.99 , 0.007],
       [0.002, 0.075, 0.845],
       [0.002, 0.01 , 0.984],
       [0.011, 0.031, 0.846],
       [0.001, 0.848, 0.578],
       [0.001, 0.007, 0.993]])

In [210]:
prediction = np.argmax(l2, axis=1) # prediction
res = prediction == np.argmax(y, axis=1)
correct = np.sum(res)/len(res)
#translating back from label encoded values
results = test[['name']].replace([1,2,3], ['Wine1','Wine2','Wine3'])

results['Prediction'] = prediction
results['Prediction'] = results['Prediction'].replace([1,2,3], ['Wine1','Wine2','Wine3'])
print(results)

      name Prediction
2        0          0
9        0          0
10       0      Wine2
13       0          0
14       0          0
19       0          0
26       0          0
30       0          0
31       0          0
35       0          0
44       0          0
48       0      Wine2
62   Wine1      Wine1
72   Wine1      Wine1
78   Wine1      Wine1
80   Wine1          0
81   Wine1      Wine1
84   Wine1      Wine1
105  Wine1      Wine1
107  Wine1      Wine1
116  Wine1      Wine1
125  Wine1      Wine1
132  Wine2      Wine2
137  Wine2      Wine2
151  Wine2      Wine2
159  Wine2      Wine1
165  Wine2      Wine2